* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 0.5s;
}

.card {
  margin: 20px 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border: 1px solid #a7c93e;
}

.card h3 {
  margin: 20px 0;
}

.card a {
  text-decoration: none;
  color: blue;
}

img {
  width: 200px;
  height: 180px;
  border-radius: 25px;
}

img:hover {
  border-radius: 0;
}
